<% if signed_in? %>
  <div class="home">
    <div class="user-items">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= link_to "Post new idea", new_idea_path, class:"new-idea button"%>
      </section>
    </div>
    <div class="idea-items">
      <h3>Popular ideas</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <div class="header-image">

    <div class="headline">
      
      <div class="container">
        

      </div>
    </div>
  </div>
  
  <div class="center hero-unit">
    <h1>Welcome to Pressfrwrd</h1>

    <h2>
    Pressfrwrd is a place to grow your ideas. It relates your lovely ideas with other common thinkers to provide you the chance to further your ideas as they come to you. Type it, post it, find others who thought it, and make it happen together.

    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <div class="container">

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
            <h2 class="featurette-heading">Jot Your Ideas
                <span class="text-muted">And Even Upload Notebooks From Evernote </span>
            </h2>
            <p class="lead">We all have great ideas. Jot them down in your own creative space, or even link up your account with Evernote and load up the notebooks of your choosing to keep those ideas alive.  </p>
        </div>

        <hr class="featurette-divider">

        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="http://placecreature.com/500/500">
            <h2 class="featurette-heading">Connect Your Idea
                <span class="text-muted">With Others Who Have Something Similar.</span>
            </h2>
            <p class="lead">Gaining all of the knowledge to complete some of the projects we want to sometimes requires years of schooling. For those that dream big, this may be out of reach and unobtainable, so why not team up with those who see your same vision with the skills you need? Boom, done!</p>
        </div>

        <hr class="featurette-divider">

        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://placecreature.com/500/500">
            <h2 class="featurette-heading">Begin Building Your Ideas
                <span class="text-muted">With Others Who Want To Do The Same Thing As You.</span>
            </h2>
            <p class="lead">With your own special team grouped up, now is the opportunity to put together the things that you truly want, and unleash the creative beast you've kept in a cage.</p>
        </div>

        <!-- /END THE FEATURETTES -->

        <hr>

        <!-- FOOTER -->
        <footer>
            <p>Copyright &copy; Pressfrwrd 2013</p>
        </footer>
        <!-- /END OF FOOTER -->
  </div>
<% end %>
