<% if signed_in? %>
  <div class="home">
    <div class="user-items">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= link_to "Post new idea", new_idea_path, class:"new-idea button"%>
      </section>
    </div>
    <div class="idea-items">
      <h3>Popular ideas</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Pressfrwrd</h1>

    <h2>
    Share your ideas

    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>