<li>
  <span class="title"><%= idea.title%></span>
  <span class="content"><%= idea.content %></span>
  <% for asset in idea.assets %>
    <% if !(asset.file.content_type =~ /^image/).nil? %>
        <p><%= image_tag asset.file.url(:medium) %></p>
    <%end%>
  <% end %>
  <span class="tags">Tags: <%= raw idea.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(idea.created_at) %> ago.
  </span>
  <% if current_user?(idea.user) %>
    <%= link_to "delete", idea, method: :delete,
                                     data: { confirm: 'You sure?' },
                                     title: idea.content %>
  <% end %>
  <%= link_to 'similiar', similiar_idea_path(idea) %>
</li>