<% options ||= {} ; options = {show_edit:false,show_join:false,show_requests:false}.merge(options) %>
<div class="idea">
  <div class="idea-heading">
    <% if options[:show_join] %>
      <div class="idea-heading-buttons">
        <%= link_to "Join", join_requests_path(idea: original_idea, idea_to_join: idea), method: :post, class: "join-button" %>
      </div>
    <% end %>
    <h3 class="idea-title"><%= idea.title%></h3>
    <div class="clearfix"> </div>
  </div>
  <div class="idea-body">
    <span class="content"><%= idea.content %></span>
    <span class="images">
      <% for asset in idea.assets %>
        <% if !(asset.file.content_type =~ /^image/).nil? %>
          <p><%= image_tag asset.file.url(:medium) %></p>
        <% end %>
      <% end %>
    </span>
    <div class="idea-footer">
      <div class="tags-and-author">
        <span class="tags">Tags: <%= raw idea.tag_list.map { |t| link_to t, tag_path(t), class:"tag" }.join(', ') %></span>
        <span class="idea-timestamp-author">
          <span class="timestamp">Posted <%= time_ago_in_words(idea.created_at) %> ago.</span>
            <span class="author">
              <%= link_to gravatar_for(idea.user), idea.user %>
              <span class="user">
                <%= link_to idea.user.name, idea.user %>
              </span>
            </span>
          </span>
        </span>
      </div>
      <% if options[:show_edit] and current_user?(idea.user) %>
        <%= link_to "edit", idea, class: "edit-button" %>
        <%= link_to "delete", idea, method: :delete,
                                         data: { confirm: 'You sure?' },
                                         title: idea.title,
                                         class: "delete-button" %>
      <% end %>
      <% if options[:show_requests] and idea.user_id == current_user.id %>
        <%= render partial: 'ideas/join_requests', locals: {idea: idea} %>
      <% end %>
    </div>
  </div>
</div>
