<%= form_for(@idea, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: "Some idea..." %>
  <div class="field">
    <%= f.text_area :content, placeholder: "More details, use #hashtags..." %>

  </div>
  <div id="assets">
    Attach a file or image<br />
    <%= render :partial => 'asset', :collection => @idea.assets %> 
  </div> 
  <p> 
    <%= add_asset_link "Add a file" %> 
  </p>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
<% # <%= fields_for(Asset.new) do |f| %> <% # f.file_field :file %> <% # end %>